.portfolio {
  &__project {
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;

    @include lg {
      width: 50%;
    }

    &__img {
      width: 100%;
    }

    &__overlay {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.4s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
    }

    &__text {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: #000;
      color: #FFF;
      padding: 15px;
      transform: translateY(100%);
      transition: all 0.4s ease;
      font-size: 11px;
      @include md {
        font-size: 18px;
      }
    }

    &:hover {
      .portfolio__project__text {
        transform: translateY(0%)
      }

      .portfolio__project__overlay {
        opacity: 0;
      }
    }
  }
}